<form action="/checkout" method="POST">
  <label for="Item">ITEM</label>
  <input type="texy" name="checkout" id="item"><br>
  <label for="female">Female</label>
  <input type="radio" name="gender" id="female" value="female"><br>
  <label for="other">Other</label>
  <input type="radio" name="gender" id="other" value="other"><br><br>
  <input type="submit" value="Submit">
</form>